extends ../../layout/homepage-layout
include intervento

block content
  h1= title

  if intervento != null
    p Dettaglio intervento #{intervento.codice}
    +intervento(intervento)
    a(href="/intervento/edit/"+intervento.codice) Modifica intervento
  else
    table(class="table table-striped table-responsive")
      tr
        th #{__('codice')}
        th #{__('tipo-intervento')}
        th #{__('data')}
        th #{__('orario')}
      each item in list
        tr
          td
            a(href='/intervento/'+ item.codice) #{item.codice}
          td #{__(item.tipo_intervento)}
          td #{item.data.toDateString()}
          td #{item.ora_inizio} - #{item.ora_fine}

  br
  a(href="/intervento") Elenco interventi |
  a(href="/intervento/add") Aggiungi intervento
