extends layout/auth-layout

block content
  if message != null
    if message.length > 0
      div(class="alert alert-danger") #{ message }

  form(action="/login",method="post")
    div(class="form-group")
      label #{__('email')}
      input(type="text", class="form-control", name="email")
    div(class="form-group")
      label #{__('password')}
      input(type="password",class="form-control",name="password")
    button(type="submit",class="btn btn-warning btn-lg") #{__('login-button-submit')}

    hr

    p #{__('p-need-account')}
      a(href="/signup") #{__('signup')}
    p #{__('p-or-go')}
      a(href="/") #{__('home')}.
