extends layout/homepage-layout

block content
  div(class="page-header text-center")
    h1
      span(class="fa fa-anchor") #{__('title-profile')}
    a(href="/logout",class="btn btn-default btn-sm") #{__('logout')}

  div(class="row")
    div(class="col-sm-6")
      div(class="well")
        h3
          span(class="fa fa-user") #{__('profile-title-local')}
        p
          strong #{__('id')}
          #{user._id}
          br
          strong #{__('email')}
          #{user.local.email}
          br
          strong #{__('password')}
          #{user.local.password}
