extends layout/auth-layout

block content
  if message != null
    if message.length > 0
      div(class="alert alert-danger") #{__(''+message)}

  form.form-signin(id="signupForm", action="signup", method="post", data-toggle="validator", role="form", novalidate="true")
    h2.form-signin-heading
      span.fa.fa-sign-in #{__('title-signup')}
    div.form-group
      label.sr-only(for="email") #{__('email')}
      input.form-control(type="email",name="email",placeholder=''+__('email'), required,data-error=''+__('e-invalid-email'))
      div.help-block.with-errors
    div.form-group
      label.sr-only(for="password") #{__('password')}
      input.form-control(type="password", name="password", id="inputPassword", placeholder=''+__('password'), required, data-minlength="6" )
      div.help-block.with-errors #{__('eb-minimum-6-character')}
    div.form-group
      label.sr-only(for="confirmPassword") #{__('ripeti-password')}
      input.form-control(type="password", name="confirmPassword", placeholder=''+__('ripeti-password'), data-match="#inputPassword",data-match-error=''+__('e-these-dont-match'),required)
      div.help-block.with-errors
    button.btn.btn-primary.btn-lg.btn-block(type="submit") #{__('signup-button-submit')}

    hr
    p #{__('p-already-have-account')}
      a(href="/login") &nbsp;#{__('login')}&nbsp;
    p #{__('p-or-go')}
      a(href="/") &nbsp;#{__('home')}&nbsp;
