extends ../../layout/homepage-layout


block content
  h2= title

  form(action='/intervention/add',method='POST').form-horizontal
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='code') #{__('code')}
        input(name='code', value=''+(intervention ? intervention.code : '')).form-control
      div.col-md-6.col-xs-12
        label(for='type_of_intervention') #{__('type_of_intervention')}
        select(name='type_of_intervention').form-control.selectpicker
          if intervention == null
            option(value="", disabled, selected) #{__('option-void')}
          else
            option(value="", disabled) #{__('option-void')}
          each tipo in tipo_intervento_option
            if intervention != null
              if tipo.selected
                option(value=''+tipo.value, selected) #{__(tipo.value)}
              else
                option(value=''+tipo.value) #{__(tipo.value)}
            else
              option(value=''+tipo) #{__(tipo)}
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='date') #{__('date')}
        input(name='date', type="date", required, value=''+(intervention ? intervention.date.toISOString().substring(0, 10) : '')).form-control
      div.col-md-3.col-xs-6
        label(for='start_time') #{__('start_time')}
        div.input-group.clockpicker
          input.form-control(id="id-ora_inizio", name='start_time',type='text', value=''+(intervention ? intervention.start_time : ''))
          span.input-group-addon
            span.glyphicon.glyphicon-time
      div.col-md-3.col-xs-6
        label(for='end_time') #{__('end_time')}
        div.input-group.clockpicker
          input.form-control(id="id-ora_fine", name='end_time',type='text', value=''+(intervention ? intervention.end_time : ''))
          span.input-group-addon
            span.glyphicon.glyphicon-time
    div.form-group.row
      div.col-md-12.col-xs-12
        label(for='notes') #{__('notes')}
        textarea(name='notes', rows="3").form-control #{intervention ? intervention.notes : ''}
    input(type="hidden",name='id', value=''+(intervention ? intervention._id : ''))
    button(type="submit").btn.btn-default #{intervention ? 'Modifica' : 'Aggiungi'} intervento

  a(href="/intervention") Elenco interventi |&nbsp;
  a(href="/intervention/add") Aggiungi intervento

  script(src='/javascripts/intervention/add.js')
