extends ../../layout/homepage-layout
include intervention

block content
  h1= title

  if intervention != null
    p Dettaglio intervento #{intervention.code}
    +intervention(intervention)
    a(href="/intervention/edit/"+intervention.code) Modifica intervento |
    a(href="/intervention/delete/"+intervention._id) Elimina intervento |
  else if list != null
    table(class="table table-striped table-responsive")
      tr
        th #{__('codice')}
        th #{__('tipo-intervento')}
        th #{__('date')}
        th #{__('time')}
      each item in list
        tr
          td
            a(href='/intervention/'+ item.code) #{item.code}
          td #{__(item.type_of_intervention)}
          td #{item.date.toDateString()}
          td #{item.start_time} - #{item.end_time}

  br
  a(href="/intervention") Elenco interventi |
  a(href="/intervention/add") Aggiungi intervento
