extends ../../layout/homepage-layout

block content
  h2 Aggiungi un tecnico

  form(action='/technician/add',method='POST').form-horizontal
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='name') #{__('name')}
        input(name='name', value=''+ (technician ? technician.name : '') ).form-control
      div.col-md-6.col-xs-12
        label(for='surname') #{__('surname')}
        input(name='surname', value=''+ (technician ? technician.surname : '') ).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='account_code') #{__('piva_cf')}
        input(name='account_code', value=''+ (technician ? technician.account_code : '') ).form-control
    div.form-group.row
      div.col-md-12.col-xs-12
        label(for='address') #{__('address')}
        input(name='address', type='area', value=''+ (technician ? technician.address : '') ).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='phone') #{__('phone')}
        input(name='phone', value=''+ (technician ? technician.phone : '') ).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='email') #{__('email')}
        input(type='email',name='email', value=''+ (technician ? technician.email : '') ).form-control
    input(type='hidden',name='id', value=''+ (technician ? technician._id : '') )
    button(type="submit").btn.btn-default #{tecnico ? 'Modifica' : 'Aggiungi'} Tecnico

  a(href="/technician") Elenco tecnici |&nbsp;
  a(href="/technician/add") Aggiungi tecnico
