h1 {{title}}
div(ng-show="pojo")
  table(class="table table-striped")
    tr
      td
        label {{pojo.name}}
      td
        label {{pojo.surname}}
    tr
      td(colspan='2')
        label {{pojo.account_code}}
    tr
      td(colspan='2')
        label {{pojo.address}}
    tr
      td
        label {{pojo.phone}}
      td
        label {{pojo.email}}
  a(ng-click="editTechnician(pojo.account_code)") Modifica tecnico |&nbsp;
  a(ng-click="deleteTechnician(pojo._id)") Elimina tecnico
div(ng-show="list.length")
  table(class="table table-striped table-responsive")
    tr
      th #{__('name')}
      th #{__('surname')}
      th #{__('piva_cf')}
      th #{__('address')}
      th #{__('phone')}
      th #{__('email')}
    tr(ng-repeat="item in list")
      td {{item.name}}
      td {{item.surname}}
      td
        a(ng-click="viewTechnician(item.account_code)" ) {{item.account_code}}
      td {{item.address}}
      td {{item.phone}}
      td {{item.email}}
br
a(ng-click="listTechnicians()") Elenco tecnici |&nbsp;
a(ng-click="addTechnician()") Aggiungi tecnico
