extends ../../layout/homepage-layout

block content
  h1= title
  if rate != null
    table(class="table table-striped")
      tr
        td
          label Diritto di chiamata: #{rate.diritto_chiamata}
        td
          label Tariffa fissa: #{rate.tariffa_fissa}
      tr
        td
          label Tariffa oraria: #{rate.tariffa_oraria}
        td
          label Frazioni d\'ora: #{rate.frazioni_ora}
      tr
        td
          label Tariffa kilometrica: #{rate.tariffa_km}
        td
    a(href="/tariffe/edit/"+rate._id) Modifica tariffa
  else
    p Aggiungere il piano tariffario
    a(href="/tariffe/add") Aggiungi tariffa
