extends ../../layout/homepage-layout

block content
  h1= title
  if rate != null
    table(class="table table-striped")
      tr
        td
          label #{__('consultancy_fee')}: #{rate.consultancy_fee}
        td
          label #{__('fixed_rate')}: #{rate.fixed_rate}
      tr
        td
          label #{__('hour_rate')}: #{rate.hour_rate}
        td
          label #{__('fraction_of_hour')}: #{rate.fraction_of_hour}
      tr
        td
          label #{__('km_rate')}: #{rate.km_rate}
        td
    a(href="/technician_rate/edit") Modifica tariffa
  else
    p Aggiungere il piano tariffario
    a(href="/technician_rate/add") Aggiungi tariffa
