extends ../../layout/homepage-layout

block content
  h2= title

  form(action='/tariffe/edit',method='POST').form-horizontal
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='consultancy_fee') #{__('consultancy_fee')}
        input(name='consultancy_fee', type='number', value=''+(rate ? rate.consultancy_fee : '')).form-control
      div.col-md-6.col-xs-12
        label(for='fixed_rate') #{__('fixed_rate')}
        input(name='fixed_rate', type='number', value=''+(rate ? rate.fixed_rate : '')).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='hour_rate') #{__('hour_rate')}
        input(name='hour_rate', type='number', value=''+(rate ? rate.hour_rate : '')).form-control
      div.col-md-6.col-xs-12
        label(for='fraction_of_hour') #{__('fraction_of_hour')}
        select(name='fraction_of_hour', type='select', value=''+(rate ? rate.fraction_of_hour : '')).form-control
          if rate != null
            option(value="", disabled, selected) #{__('option-void')}
          each frazione in frazioni_dora_option
            if rate != null
              if frazione.selected
                option(selected) #{__(frazione.value)}
              else
                option #{__(frazione.value)}
            else
              option #{__(frazione)}
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='km_rate') #{__('km_rate')}
        input(name='km_rate', type='number', value=''+(rate ? rate.km_rate : '')).form-control
    input(type='hidden', name='id', value=''+(rate ? rate._id : ''))
    button(type="submit").btn.btn-default #{rate ? 'Modifica' : 'Salva'} tariffa

  a(href="/tariffe") Visualizza tariffa
