extends ../../layout/homepage-layout

block content
  h2= title
  div(id="form-add-new-customer")
  if customer != null
    h2 Dettaglio cliente #{customer.code}
    table(class="table table-striped")
      tr
        td
          label Codice           : #{customer.code}
        td
          label Sconto           : #{customer.discount}
      tr
        td
          label Ragione sociale  : #{customer.company_name}
        td
          label P.Iva / CF       : #{customer.piva_cf}
      tr
        td(colspan='2')
          label Indirizzo        : #{customer.address}
      tr
        td
          label Telefono         : #{customer.phone}
        td
          label Email            : #{customer.email}
    a(href="/customer/edit/" + customer.code) Modifica cliente |
    a(href="/customer/delete/" + customer._id) Elimina cliente
    br
  else
    h2 Lista dei clienti
    table(class="table table-striped table-responsive")
      tr
        th Codice
        th Sconto
        th Ragione sociale
        th P.Iva / CF
        th Indirizzo
        th Telefono
        th Email
      each item in list
        tr
          td
            a(href="/customer/" + item.code) #{item.code}
          td #{item.discount}
          td
            a(href="/customer/" + item.code) #{item.company_name}
          td #{item.piva_cf}
          td #{item.address}
          td #{item.phone}
          td #{item.email}

  a(href="/customer") Elenco clienti |
  a(href="/customer/add") Aggiungi cliente
