h1 {{title}}

div(ng-show="pojo")
  table(class="table table-striped")
    tr
      td
        label {{pojo.code}}
      td
        label {{pojo.status}}
    tr
      td
        label {{pojo.customer.company_name}}
      td
        label {{pojo.technician.name}} {{pojo.technician.surname}}
    tr
      td(colspan="2") {{pojo.note}}
  a(ng-click="editWorkFolder(pojo.code)") #{__('edit-work-folder')} |&nbsp;
  a(ng-click="deleteWorkFolder(pojo._id)") #{__('del-work-folder')}

div(ng-show="list.length")
  table(class="table table-striped table-responsive")
    tr
      th #{__('code')}
      th #{__('customer')}
      th #{__('status')}
      th #{__('technician')}
    tr(ng-repeat="item in list")
      td
        a(ng-click="viewWorkFolder(item.code)" ) {{item.code}}
      td {{item.customer.company_name}}
      td {{item.status}}
      td {{item.technician.name}} {{item.technician.surname}}

br
a(ng-click="listWorkFolders()") #{__('list-work-folder')}	 |&nbsp;
a(ng-click="addWorkFolder()") #{__('add-work-folder')}
