extends ../layout/homepage-layout

block content
  div(ng-view)
    h1= title
    p #{title}
    a(href="/image") #{__('link-image')}
    span &nbsp;
    a(href="/image/add") #{__('link-add-image')}

    p -------------------------------
    p #{title}

    a(ng-click="listMaterials()") #{__('link-list-materials')}
    span &nbsp;
    a(ng-click="viewRate()") #{__('link-technician-rate')}
    div.content(ng-include="pagecontent")
