extends ../../layout/homepage-layout

block content
  h2= title
  div(id="form-add-new-customer")
    if customer != null
      h2 Dettaglio cliente #{customer.codice}

      table(class="table table-striped")
        tr
          td
            label codice           : #{customer.codice}
          td
            label sconto           : #{customer.sconto}
        tr
          td
            label ragione_sociale  : #{customer.ragione_sociale}
          td
            label piva_cf          : #{customer.piva_cf}
        tr
          td(colspan='2')
            label indirizzo        : #{customer.indirizzo}
        tr
          td
            label telefono         : #{customer.telefono}
          td
            label email            : #{customer.email}
    else
      h2 Tutti i clienti
