extends ../../layout/homepage-layout

block content
  h1= title
  if materiale != null
    p Dettaglio materiale #{materiale.codice}
    table(class="table table-striped")
      tr
        td
          label #{materiale.nome_prodotto}
        td
          label #{materiale.codice}
      tr
        td(colspan='2')
          label #{materiale.descrizione}
      tr
        td
          label #{materiale.prezzo}

  else
    table(class="table table-striped table-responsive")
      tr
        th Nome prodotto
        th Codice
        th Descrizione
        th Prezzo
      each item in list
        tr
          td
            a(href="/materiale/" + item.codice) #{item.nome_prodotto}
          td
            a(href="/materiale/" + item.codice) #{item.codice}
          td #{item.descrizione}
          td #{item.prezzo}

  a(href="/materiale") Elenco materiali |
  a(href="/materiale/add") Aggiungi materiale
