h2 {{title}}

form.form-horizontal
  div.form-group.row
    div.col-md-6.col-xs-12
      label(for='product_name') #{__('product_name')}
      input(name='product_name', ng-model="pojo.product_name").form-control
    div.col-md-6.col-xs-12
      label(for='code') #{__('code')}
      input(name='code', ng-model="pojo.code").form-control
  div.form-group.row
    div.col-md-12.col-xs-12
      label(for='description') #{__('description')}
      input(name='description', ng-model="pojo.description", type='area').form-control
  div.form-group.row
    div.col-md-6.col-xs-12
      label(for='price') #{__('price')}
      div.input-group
        span.input-group-addon
          span.fa.fa-euro
        input(name='price',  ng-model="pojo.price", type='number', min="0", step="0.01", data-number-to-fixed="2").form-control.currency
  button(ng-hide="pojo._id", type="submit", ng-click="postMaterial()").btn.btn-default #{__('add-material')}	
  button(ng-show="pojo._id", type="submit", ng-click="putMaterial()").btn.btn-default #{__('edit-material')}

a(ng-click="listMaterials()")  #{__('list-material')} |&nbsp;
a(ng-click="addMaterial()") #{__('add-material')}	
