extends ../../layout/homepage-layout

block content
  h1= title
  if work
    TODO #{work.codice}
    br
    a(href='/lavoro/edit/'+work.codice) Edit lavoro
  else if list
    table(class="table table-striped table-responsive")
      tr
        th Codice
        th Cliente
        th Tecnico
        th Numero Interventi
      each item in list
        tr
          td
            a(href='/lavoro/'+item.codice) #{item.codice}
          td #{item.customer.ragione_sociale}
          // td #{item.technician.name}
          // td #{item.interventi.length}

  br
  a(href="/lavoro") Elenco lavori |
  a(href="/lavoro/add") Aggiungi lavoro
