extends ../../layout/homepage-layout

block content
  h1= title
  if tecnico != null
    p Dettaglio di #{tecnico.name} #{tecnico.surname}
    table(class="table table-striped")
      tr
        td
          label #{tecnico.name}
        td
          label #{tecnico.surname}
      tr
        td(colspan='2')
          label #{tecnico.account_code}
      tr
        td(colspan='2')
          label #{tecnico.address}
      tr
        td
          label #{tecnico.phone}
        td
          label #{tecnico.email}
    a(href="/tecnico/edit/"+ tecnico.account_code) Modifica tecnico |
    a(href="/tecnico/delete/"+ tecnico._id) Elimina tecnico
  else
    table(class="table table-striped table-responsive")
      tr
        th Nome
        th Cognome
        th Codice fiscale / P.Iva
        th Indirizzo
        th Telefono
        th E-mail
      each item in list
        tr
          td #{item.name}
          td #{item.surname}
          td
            a(href="/tecnico/" + item.account_code) #{item.account_code}
          td #{item.address}
          td #{item.phone}
          td #{item.email}

  br
  a(href="/tecnico") Elenco tecnici |
  a(href="/tecnico/add") Aggiungi tecnico
